*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

:root{
    --text-color: #fff;
    --second-color: #c6c9d8bf;
    --main-color: #2ecc71;
    --big-font: 5.3rem;
    --h2-font: 4.2rem;
    --p-font: 1.1rem;
}

body{
    background: #050B21;
    color: var(--text-color);    
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 15px 15%;
    transition-duration: .3s;
}

.logo{
    color: var(--text-color);
    font-size: 25px;
    font-weight:550;
    letter-spacing: 1px;
}

.logo:hover{
    transform: translateY(-2px);
}

.navbar{
    display:flex;
}

.navbar li{
     position: relative;
     padding-left: 10px;
}

.navbar a{
    color: var(--text-color);
    font-weight: 100;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar a::after{
    content:'';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    left: 0;
    bottom: -4px;
    transition: ease 0.4s;
}

.navbar a:hover::after{
    width: 100%;
}

#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    z-index: 100001;
    cursor: pointer;
    display: none;
}

.h-btn{
    padding: 0 20px;
    height: 40px;
    display: 'inline-block';
    line-height: 42px;
    background: #2ecc71;
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 1px;
    transition: all .4s;
}

.h-btn:hover{
    transform: translateY(-5px);
}

section{
    padding: 120px 15%;
}

.home{
    max-width: 100%;
    height: auto;
    background: url('../img/wp6152856-minimalistic-qhd-wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#hello{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-heading{
    font-size: 55px;
    margin-bottom: -16px;
}

#hello p{
    margin-top: 0px;
    font-size: 25px;
    font-weight: 600;
}

.social{
    width: 37px;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    border-radius: 50%;
    background-color: rgb(16, 0, 0);
    margin-left: 10px;
} 

.about{
    background: #050B21;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 2rem;
}

.about-img img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.about-text h2{
    font-weight: 600;
    font-size: var(--h2-font);
    margin-bottom: 20px;
}

.about-text p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 590px;
    margin-bottom: 45px;
}

header.sticky{
    padding: 7px 10%;
    background: #2ecc71;
}


.sticky .h-btn{
    background: white;
    color: #000;
}

.center{
    text-align: center;
}

.center h2{
    color: #2ecc71;
    font-weight: 600;
    font-size: var(--h2-font);
}

.center p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
}

.projects{
    background-color: #201f25;
}

.project-content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
}

.box img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}

.box h5{
    font-weight: 150;
}

.box img:hover{
    transform: scale(1.1);
}

.skill-img{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-gap: 1rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: 50px;
    transition: all .30s;
}

.skill-img:hover{
    transform: scale(1.1);
}

.domains{
    font-size: 18px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-gap: 1rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: 100px;
}


.contact{
    background: #201f25;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 3rem;
}

.contact-img img{
    max-width: 100%;
    border-radius: 10px;
}

.c-form h2{
    color: #e1ebe5;
    font-weight:600;
    font-size: var(--h2-font);
    margin-bottom: 10px;
}

.c-form form{
    position: relative;
}

.c-form form input, form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background-color:rgb(55, 53, 53);
    color: white;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}    

.c-form form .send{
    display: inline-block;
    background: #2ecc71;
    color: white;
    font-size: 18px;
    font-weight: 100;
    border-radius: 25px;
    width: 100px;
    transition: ease .4s;
    text-transform: uppercase;
}

.c-form form .send:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

@media(max-width: 1270px){
    header{
        padding: 18px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 4%;
        transition: .2s;
    }
    section{
        padding: 80px 4%;
        transition: .2s;
    }
    :root{
        --big-font: 4.8rem;
        --h2-font:3.8rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media(max-width: 1270px){
    
    .main-heading{
        font-size: 12vw;
    }

    #hello p{
        font-size: 5vw;
    }
    
    .home{
        height: 85vh;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: black;
        text-align: left;
        transition: all .30s;
    }
    .navbar a{
        display: block;
        padding: 1.1rem;
        margin: 1.3rem;
        border: 2px solid white;
        border-radius: 10px;
    }
    .navbar a:hover{
        background-color: var(--main-color);
    }
    .navbar a:after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        margin-bottom:30px;
    }
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-img{
        text-align: center;
        margin-bottom: 25px;
    }
    .c-form{
        order: 2;
    }
}

/** The Scroll Animation**/

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    bottom: 40px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
}
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  

  /** Blogs page **/

  #blogs{
    background-color:#201f25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

  .blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
 
.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 1px solid 201f25;
    margin: 20px 20px;
    border-radius: 5%;
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    margin-top: -1px;
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 17px;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #2ecc71;
    transition: all ease 0.3s;
    transform: translateY(-3px);
}

.blog-box:hover{
    transform: translateY(-5px);
}

.blog-box:hover{
    box-shadow: 0 0 8px #2ecc71;
}

 
@media(max-width:1250px){
 
    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}
 

footer {
    background-color: black;
    color: rgb(85, 79, 79);
    padding: 15px;
    text-align: center;
}
